<div class="newsContainer">
    
    <div class="topHeadline" *ngIf="totalCount > 0">
      <div class="row no-gutters mx-0">
        <div class="col-md-6 col-lg-4 col-12 pb-4" *ngFor="let topHeadLine of articles">
          <a href="{{topHeadLine.url}}" target="_blank" rel="">
            <div class="topNewsImage" style="background-image: url({{topHeadLine.urlToImage}});">
              <div class="visibleLayer">
                <p class="mb-0" [innerHTML]="topHeadLine.title"></p>
                <p
                  class="mb-0"
                  [innerHTML]="topHeadLine.publishedAt | date: 'medium'"></p>
              </div>
            </div>
          </a>
         
        </div>
      </div>
    </div>
    <div class="noDataFound" *ngIf="totalCount == 0">
      <div class="errorInfo">
        <img src="./assets/img/noDataFound.jpg" alt="pageNotFound">
        <p>Page Not Found!</p>
    </div>
    </div>
  
 
  </div>
