.homeContainer {
  padding: 20px;
  .topHeadline {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
  }
}
.topNewsImage {
  background-image: url(../../../assets/img/default.png);
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  transition: 1s ease-out background-size;
  .visibleLayer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0);
    background: linear-gradient(
      180deg,
      rgb(0 0 0 / 0%) 35%,
      rgb(0 0 0 / 42%) 52%
    );
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
  }
  &:hover {
    cursor: pointer;
    background-size: auto 150%;
  }
}
.noDataFound {
  display: flex;
  justify-content: center;
}
